#set( $pageTitle = "Edit Party")
#set( $headerCss = ['../res/css/test1.css', '../res/css/test2.css'] )
#set( $footerJs = ['resources/scripts/party.js'] )
#if($!{message})
	<script>
	$(document).ready(function () {
   		alert("$message");
    });
	</script>
#end
<form action="updateParty" method="post" onsubmit="return validateParty()">
	#if($!{error})
	<div class="error">$!{error}</div>
	#end
	 #springBind("partyForm")
	<table class="login">
		<tr>
			<td><label>Party Name :</label> </td>
		</tr>
		<tr>
			<td>
				<input type="hidden" id="partyId" name="partyId" value="$party.partyId">
				<input type="text" id="partyName" name="partyName" value="$party.partyName">
				<span style="color:red" id="error_partyName"></span>
			</td>
		</tr>
		<tr>
			<td><label>Party Type :</label></td>
		</tr>
		<tr>
			<td>
				<select name="type">
                    <option value="Supplier" #if($party.type == 'Supplier') selected="true" #end>Supplier</option>
					<option value="Customer" #if($party.type == 'Customer') selected="true" #end>Customer</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><input type="submit" value="Update" class="add" /></td>
		</tr>	
	</table>	
</form>
