#set( $pageTitle = "Party List")
#set( $headerCss = ['../res/css/test1.css', '../res/css/test2.css'] )
#set( $footerJs = ['resources/scripts/party.js'] )

#if($!{message})
	<script>
	$(document).ready(function () {
		notify('Success',"$message",'success');
    });
		
	</script>
#end
<table class='display-results'>
	<thead>
		<th>S.No.</th>
		<th>Party ID</th>
		<th>Party Name</th>
		<th>Party Type</th>
		<th colspan="2">Action</th>
    </thead>
	<tbody>
		 #foreach( $partys in $partyList )
		<tr #if($foreach.count % 2 == 0) class='even'#else class='odd'#end>
			<td>$foreach.count</td>
			<td><a href="viewParty?partyId=$partys.partyId">$partys.partyId</a></td>
			<td><a href="viewParty?partyId=$partys.partyId">$partys.partyName</a></td>
			<td>$!{partys.type}</td>
			<td><a href="getParty?partyId=$partys.partyId">Edit</a></td>
			<td><a href="deleteParty?partyId=$partys.partyId">Delete</a></td>
        </tr>
		#end
    </tbody>
</table>