#set( $pageTitle = "View Party")
#set( $headerCss = ['../res/css/test1.css', '../res/css/test2.css'] )
#set( $footerJs = ['resources/scripts/party.js'] )

<table class="login">
	<tr>
		<td><label>Name :</label> </td>
		<td>$party.partyName</td>
	</tr>
	<tr>
		<td><label>Type :</label></td>
		<td>$party.type</td>
	</tr>
	<tr>
		<td><label>Address :</label></td>
		<td>$!{party.address}</td>
	</tr>
	<tr>
		<td><label>Contact :</label></td>
		<td>$!{party.contact}</td>
	</tr>
	<tr>
		<td><label>PAN No. :</label></td>
		<td>$!{party.panNo}</td>
	</tr>
</table>	
