<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<!-- pojo -->
		<mapping class="com.mms.pojo.User"/>
		<mapping class="com.mms.pojo.Item"/>
		<mapping class="com.mms.pojo.Purchase"/>
		<mapping class="com.mms.pojo.Party"/>
		<mapping class="com.mms.pojo.Cashier"/>
		<mapping class="com.mms.pojo.Sales"/>
		<mapping class="com.mms.pojo.SoldItems"/>
		<mapping class="com.mms.pojo.PurchasedItems"/>
		<mapping class="com.mms.pojo.Stock"/>
		
		<!-- <mapping class="edu.limen.model.pojo.Category"/>
		<mapping class="edu.limen.model.pojo.SubCategory"/>
		<mapping class="edu.limen.model.pojo.Item"/>
		
		<mapping class="edu.limen.model.pojo.YouTubeVideo"/>
		<mapping class="edu.limen.model.pojo.YouTubeChannel"/>
		<mapping class="edu.limen.model.pojo.YouTubeVideoLike"/>
		<mapping class="edu.limen.model.pojo.AnswerForKlick"/>
		<mapping class="edu.limen.model.pojo.Course"/>
		<mapping class="edu.limen.model.pojo.Chapter"/>
		<mapping class="edu.limen.model.pojo.Device"/>
		<mapping class="edu.limen.model.pojo.EBook"/>
		<mapping class="edu.limen.model.pojo.EBookEdit"/>
		<mapping class="edu.limen.model.pojo.EBookEditMark"/>
		<mapping class="edu.limen.model.pojo.EBookEditMarkWithPageNum"/>
		<mapping class="edu.limen.model.pojo.EBookPage"/>
		<mapping class="edu.limen.model.pojo.EBookPageChapter"/>
		<mapping class="edu.limen.model.pojo.Event"/>
		<mapping class="edu.limen.model.pojo.Group"/>
		<mapping class="edu.limen.model.pojo.Klicktest"/>
		<mapping class="edu.limen.model.pojo.Material"/>
		<mapping class="edu.limen.model.pojo.MaterialSearchTag"/>
		<mapping class="edu.limen.model.pojo.MMGroup"/>
		<mapping class="edu.limen.model.pojo.MMGroupingAttribute"/>
		<mapping class="edu.limen.model.pojo.QuestionForKlick"/>
		<mapping class="edu.limen.model.pojo.School" />
		<mapping class="edu.limen.model.pojo.SearchTag" />
		<mapping class="edu.limen.model.pojo.UnionHelper" />
		<mapping class="edu.limen.model.pojo.User" />
		<mapping class="edu.limen.model.pojo.UserAnswerForKlick" />
		<mapping class="edu.limen.model.pojo.UserDetail"/>
		<mapping class="edu.limen.model.pojo.UserGrouping"/>
		<mapping class="edu.limen.model.pojo.UserKlicktest"/>
		<mapping class="edu.limen.model.pojo.UserMaterialShare"/>
		<mapping class="edu.limen.model.pojo.UserMessage"/>
		<mapping class="edu.limen.model.pojo.UserMMGrouping"/>
		<mapping class="edu.limen.model.pojo.UserMMGroupingPlan"/>
		<mapping class="edu.limen.model.pojo.UserNotification"/>
		<mapping class="edu.limen.model.pojo.UserQuestionForKlick"/>
		<mapping class="edu.limen.model.pojo.MaterialLive"/>
		<mapping class="edu.limen.model.pojo.MaterialDraw"/>
		<mapping class="edu.limen.model.pojo.MaterialDrawSubmit"/>
		<mapping class="edu.limen.model.pojo.MaterialFile"/>
		<mapping class="edu.limen.model.pojo.MaterialFileUsage"/>
		<mapping class="edu.limen.model.pojo.Assignment"/>
		<mapping class="edu.limen.model.pojo.AssignmentSubmit"/> -->
		
		<!-- View -->
		<!-- <mapping class="edu.limen.model.view.MaterialEBookSearchTagView"/>
		<mapping class="edu.limen.model.view.SchoolUserView"/>
		<mapping class="edu.limen.model.view.UserDetailViewStatus"/>
		<mapping class="edu.limen.model.view.UserGroupingCourseView"/>
		<mapping class="edu.limen.model.view.UserGroupingView"/>
		<mapping class="edu.limen.model.view.UserMessageViewStatus"/>
		<mapping class="edu.limen.model.view.UserNotificationViewStatus"/>
		<mapping class="edu.limen.model.view.ShareBookView"/> -->
		
		
	</session-factory>

</hibernate-configuration>