#set( $pageTitle = "Create Cashier")
##set( $headerCss = ['../res/css/test1.css', '../res/css/test2.css'] )
#set( $footerJs = ['resources/scripts/validate.js'] )

#if($!{message})
	<script>
	$(document).ready(function () {
   		alert("$message");
    });
	</script>
#end
<form action="createCashier" method="post" onsubmit="return validateCashier()">
	#if($!{error})
	<div class="error">$!{error}</div>
	#end
	 #springBind("cashierForm")
	<table class="input-form">
		<tr>
			<td><label>Cashier Name :</label> </td>
		</tr>
		<tr>
			<td>
				#springFormInput("cashierForm.cashierName" "class='test'")
				<span style="color:red" id="error_cashierName"></span>
			</td>
		</tr>
		<tr>
			<td><input type="submit" value="Create" class="add" /></td>
		</tr>	
	</table>	
</form>
