</div><div class="clear"></div>
	<div class="footer">
            <p style="text-align: center;">©  MMS</p> 
			<p style="text-align: center;">Developed By : ICS</p>
            <p  style="text-align: center;">Contact : 9841669206 || Email : prabhat.aurora@gmail.com</p>
    </div>
</div>