<a href="#" id="phone-left-menu-toggler"><span></span></a>
			<div id="phone-left-menu-container">
				<ul class="nav">
					<li>
						<i class="icon-user-small"></i>
						<div class="phone-user-name">Jasmine Tang
							<span>Teacher</span>
						</div>					
					</li>
					<li>
						<i class="icon-group-small"></i>
						<div class="phone-leftbar-title">Group</div>
						<div class="phone-leftbar-tool">
						<i class="icon-tool-small"></i>
						<i class="icon-tool-small"></i>
					</li>
					<li>
						<img src="images/mobile/smartphone_8_0605_subgroup_bar.png" />
						<img src="images/mobile/smartphone_8_0605_subgroup_bar.png" />
						<img src="images/mobile/smartphone_8_0605_subgroup_bar.png" />						
					</li>
					<li>
						<i class="icon-group-small"></i>
						<div class="phone-leftbar-title">Group</div>
						<div class="phone-leftbar-tool">
						<i class="icon-tool-small"></i>
						<i class="icon-tool-small"></i>
					</li>
					<li>
						<i class="icon-group-small"></i>
						<div class="phone-leftbar-title">Group</div>
						<div class="phone-leftbar-tool">
						<i class="icon-tool-small"></i>
						<i class="icon-tool-small"></i>
					</li>
				</ul>
			</div>
			<div class="phone-left-menu-bottom-bg">&nbsp;</div>