<div id="right-slider" class="text-center hidden-phone">
	<button class="btn btn-slider btn-slider-top">
		<i class="icon-app-mnm"></i>
		<span>Test</span>
		<a href="/test"><i class="icon-app-mnm"></i></a>
	</button>
	<button class="btn btn-slider btn-slider-inner">
		<i class="icon-app-mnm"></i>
		<span>Test</span>
		<a href="/test"><i class="icon-app-mnm"></i></a>
	</button>
	<button class="btn btn-slider btn-slider-bottom">
		<i class="icon-app-mnm"></i>
		<span>Test</span>
		<a href="/test"><i class="icon-app-mnm"></i></a>
	</button>
</div>